<a href="https://colab.research.google.com/github/HenryZumaeta/py4cd_EPC2025/blob/main/C03/C03_Script01_IntroPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# El Módulo Pandas
  1. Datos de tipo Series y DataFrame
  2. Indexación y selección
  3. Operando con objetos de tipo Series y DataFrame

In [30]:
# Carguemos los módulos
import pandas as pd
import numpy as np

In [ ]:
# Los tipos de datos que provee pandas de manera nativa son los Series (Unidimensional)
# y los DataFrames(Bidimensionales)

In [ ]:
# Veamos cómo crear un objeto unidimensional de pandas: pandas.Series

# Consideremos construir un dato de tipo list
l1 = [12, 234, 4,6,0,1,2,3,4]
s1 = pd.Series(l1)
s1

0     12
1    234
2      4
3      6
4      0
5      1
6      2
7      3
8      4
dtype: int64

In [ ]:
# Considemos construir un dato de ndarray (propio del módulo numpy)
vector1 = np.array(l1)
s2 = pd.Series(vector1)
s2

0     12
1    234
2      4
3      6
4      0
5      1
6      2
7      3
8      4
dtype: int64

In [ ]:
# También podemos crear un dato de tipo Series a partir de un dato de tipo diccionario
d1 = {"a1": 12.3,"a2":-5.6, "a3":9.81, "a4":10}
s3 = pd.Series(d1)
s3

a1    12.30
a2    -5.60
a3     9.81
a4    10.00
dtype: float64

In [ ]:
# También podemos crear un Series con índices en particular si utilizamos dos argumentos en pd.Series
s4 = pd.Series(data = [12,34,45,6,7,8,0,1], index=["a1","a2","a3","a4","a5", "a6","a7", "a8"])
s4

a1    12
a2    34
a3    45
a4     6
a5     7
a6     8
a7     0
a8     1
dtype: int64

In [ ]:
s5 = pd.Series(np.random.triangular(2,3.5,6, 120))
s5

0      4.458477
1      4.657684
2      3.634819
3      4.291944
4      3.667528
         ...
115    4.296159
116    2.625338
117    4.626423
118    3.214375
119    2.889040
Length: 120, dtype: float64

## Acceso a los elementos de un datos de tipo Series

In [ ]:
# Accedamos a la primera componente de s1
s1[0]

np.int64(12)

In [ ]:
# Accedamos a la componente de índice "a3" de la variable s4
s4["a3"]

np.int64(45)

In [ ]:
# Notación slice
# Obtengamos los 10 últimos elementos de s5
s5[-10:]

110    4.289426
111    2.952048
112    4.507778
113    3.382185
114    3.969887
115    4.296159
116    2.625338
117    4.626423
118    3.214375
119    2.889040
dtype: float64

## Operaciones sobre objetos de tipo Series

In [ ]:
# operacion vectorizada
s6 = s5 +12.5
s6

0      16.958477
1      17.157684
2      16.134819
3      16.791944
4      16.167528
         ...
115    16.796159
116    15.125338
117    17.126423
118    15.714375
119    15.389040
Length: 120, dtype: float64

In [ ]:
# Creación de una copia de s4
s7 = s4.copy()
s7

a1    12
a2    34
a3    45
a4     6
a5     7
a6     8
a7     0
a8     1
dtype: int64

In [ ]:
# La función dir:
dir(s4)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__bool__',
 '__class__',
 '__column_consortium_standard__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pandas_priority__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_for_op',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_binop',
 '_can_hold_na',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_expanddim_from_mgr',
 '_constructor_from_mgr',
 '_data',
 '_deprecate_downcast',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_duplicated',
 '_find_valid_index',
 '_flags',
 '_flex_method',
 '_from_mgr',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_index_resolvers',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_rows_with_mask',
 '_get_value',
 '_get_values_tuple',
 '_get_with',
 '_getitem_slice',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_is_view_after_cow_rules',
 '_item_cache',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_map_values',
 '_maybe_update_cacher',
 '_memory_usage',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_name',
 '_needs_reindex_multi',
 '_pad_or_backfill',
 '_protect_consolidate',
 '_reduce',
 '_references',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_single',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_labels',
 '_set_name',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_shift_with_freq',
 '_slice',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'a1',
 'a2',
 'a3',
 'a4',
 'a5',
 'a6',
 'a7',
 'a8',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'case_when',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'interpolate',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'list',
 'loc',
 'lt',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'struct',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [ ]:
# Documentación de cada elemento de interés (son elementos que devuelve dir escritos en minúsculas
# y que no poseen guiones bajos al inicio y/o al final)
help(s4.sort_index)

Help on method sort_index in module pandas.core.series:

sort_index(*, axis: 'Axis' = 0, level: 'IndexLabel | None' = None, ascending: 'bool | Sequence[bool]' = True, inplace: 'bool' = False, kind: 'SortKind' = 'quicksort', na_position: 'NaPosition' = 'last', sort_remaining: 'bool' = True, ignore_index: 'bool' = False, key: 'IndexKeyFunc | None' = None) -> 'Series | None' method of pandas.core.series.Series instance
    Sort Series by index labels.

    Returns a new Series sorted by label if `inplace` argument is
    ``False``, otherwise updates the original series and returns None.

    Parameters
    ----------
    axis : {0 or 'index'}
        Unused. Parameter needed for compatibility with DataFrame.
    level : int, optional
        If not None, sort on values in specified index level(s).
    ascending : bool or list-like of bools, default True
        Sort ascending vs. descending. When the index is a MultiIndex the
        sort direction can be controlled for each level individually.
    inplace : bool, default False
        If True, perform operation in-place.
    kind : {'quicksort', 'mergesort', 'heapsort', 'stable'}, default 'quicksort'
        Choice of sorting algorithm. See also :func:`numpy.sort` for more
        information. 'mergesort' and 'stable' are the only stable algorithms. For
        DataFrames, this option is only applied when sorting on a single
        column or label.
    na_position : {'first', 'last'}, default 'last'
        If 'first' puts NaNs at the beginning, 'last' puts NaNs at the end.
        Not implemented for MultiIndex.
    sort_remaining : bool, default True
        If True and sorting by level and index is multilevel, sort by other
        levels too (in order) after sorting by specified level.
    ignore_index : bool, default False
        If True, the resulting axis will be labeled 0, 1, …, n - 1.
    key : callable, optional
        If not None, apply the key function to the index values
        before sorting. This is similar to the `key` argument in the
        builtin :meth:`sorted` function, with the notable difference that
        this `key` function should be *vectorized*. It should expect an
        ``Index`` and return an ``Index`` of the same shape.

    Returns
    -------
    Series or None
        The original Series sorted by the labels or None if ``inplace=True``.

    See Also
    --------
    DataFrame.sort_index: Sort DataFrame by the index.
    DataFrame.sort_values: Sort DataFrame by the value.
    Series.sort_values : Sort Series by the value.

    Examples
    --------
    >>> s = pd.Series(['a', 'b', 'c', 'd'], index=[3, 2, 1, 4])
    >>> s.sort_index()
    1    c
    2    b
    3    a
    4    d
    dtype: object

    Sort Descending

    >>> s.sort_index(ascending=False)
    4    d
    3    a
    2    b
    1    c
    dtype: object

    By default NaNs are put at the end, but use `na_position` to place
    them at the beginning

    >>> s = pd.Series(['a', 'b', 'c', 'd'], index=[3, 2, 1, np.nan])
    >>> s.sort_index(na_position='first')
    NaN     d
     1.0    c
     2.0    b
     3.0    a
    dtype: object

    Specify index level to sort

    >>> arrays = [np.array(['qux', 'qux', 'foo', 'foo',
    ...                     'baz', 'baz', 'bar', 'bar']),
    ...           np.array(['two', 'one', 'two', 'one',
    ...                     'two', 'one', 'two', 'one'])]
    >>> s = pd.Series([1, 2, 3, 4, 5, 6, 7, 8], index=arrays)
    >>> s.sort_index(level=1)
    bar  one    8
    baz  one    6
    foo  one    4
    qux  one    2
    bar  two    7
    baz  two    5
    foo  two    3
    qux  two    1
    dtype: int64

    Does not sort by remaining levels when sorting by levels

    >>> s.sort_index(level=1, sort_remaining=False)
    qux  one    2
    foo  one    4
    baz  one    6
    bar  one    8
    qux  two    1
    foo  two    3
    baz  two    5
    bar  two    7
    dtype: int64

    Apply a key function before sorting

    >>> s = pd.Series([1, 2, 3, 4], index=['A', 'b', 'C', 'd'])
    >>> s.sort_index(key=lambda x : x.str.lower())
    A    1
    b    2
    C    3
    d    4
    dtype: int64

In [ ]:
s9 = pd.Series()
s9

Series([], dtype: object)

# Creación de tipos de datos DataFrame

In [ ]:
df1 =  pd.DataFrame()
df1

Empty DataFrame
Columns: []
Index: []

In [ ]:
# DataFrames a partir de matrices pseudoaleatorias
df2 = pd.DataFrame(np.random.beta(12,14,(6,10)))
df2

,0,1,2,3,4,5,6,7,8,9
0,0.388834,0.547471,0.446632,0.564082,0.401099,0.430493,0.420709,0.618156,0.547635,0.448927
1,0.357294,0.477185,0.383594,0.469982,0.487767,0.444193,0.375526,0.407818,0.473975,0.625627
2,0.437624,0.461060,0.252542,0.455858,0.387735,0.457034,0.426936,0.611503,0.605401,0.428133
3,0.287604,0.602774,0.500662,0.543438,0.344674,0.375149,0.436903,0.739374,0.686615,0.287729
4,0.638968,0.661682,0.505151,0.382538,0.475275,0.415860,0.450766,0.410952,0.501779,0.351174
5,0.562069,0.423031,0.747233,0.615400,0.400518,0.687201,0.477847,0.558474,0.392820,0.449079

In [ ]:
df3 = pd.DataFrame({
    "x1":np.random.randn(10),
    "x2":np.random.normal(2.5, 3.9, 10),
    "x3":np.random.uniform(10, 20, 10)
})

df3

         x1        x2         x3
0  0.830256  1.833560  17.458216
1  0.161793  5.773881  19.771857
2 -2.775017  5.339970  12.203464
3  0.352106  1.563830  19.885553
4  1.658870  5.535123  19.818726
5  0.946925  2.241720  11.809640
6 -0.468449  5.315678  14.152576
7 -2.654309  6.686777  15.748143
8 -1.672535  1.931754  19.615520
9  1.449844  3.865677  10.205363

In [29]:
# De manera muy natural, es de esperar que las operaciones con objetos de tipo
# dataframe soon vectorizadas
df4 = np.sin(df3) + np.exp(df3/1.5)
df4

         x1         x2             x3
0  2.477442   4.360911  113414.214376
1  1.274983  46.470442  530321.878991
2 -0.201185  34.353034    3413.653559
3  1.609452   3.836425  572081.433969
4  4.018108  39.367907  547153.948073
5  2.691646   5.240266    2624.989237
6  0.280260  33.774164   12520.602290
7 -0.297816  86.694585   36270.540774
8 -0.666921   4.560492  477832.083672
9  3.621587  12.496711     900.359458

In [31]:
# Carguemos la data
big_mart = pd.read_csv("https://raw.githubusercontent.com/robintux/Datasets4StackOverFlowQuestions/refs/heads/master/BIG_MART_SALES_PREDICTION.csv")
big_mart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [32]:
# Obtención de los nombres de las columnas del objeto big_mart
big_mart.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [33]:
# Estrategia1 para acceder a una columna en particular: Se basa en que un dataframe (al igual que un objeto de tipo Series)
# hereda ciertas características de un diccionario.
big_mart["Outlet_Size"]

0       Medium
1       Medium
2       Medium
3          NaN
4         High
         ...
8518      High
8519       NaN
8520     Small
8521    Medium
8522     Small
Name: Outlet_Size, Length: 8523, dtype: object

In [34]:
# Estrategia2: Al momento de cargar el dataset (de la url a la memoria ram) crea atributos
# con los nombres de las columnas
big_mart.Outlet_Location_Typebb

0       Tier 1
1       Tier 3
2       Tier 1
3       Tier 3
4       Tier 3
         ...
8518    Tier 3
8519    Tier 2
8520    Tier 2
8521    Tier 3
8522    Tier 1
Name: Outlet_Location_Type, Length: 8523, dtype: object

In [35]:
# Estrategia3: Utilización del atributo loc
big_mart.loc[:,"Item_Outlet_Sales"]

0       3735.1380
1        443.4228
2       2097.2700
3        732.3800
4        994.7052
          ...
8518    2778.3834
8519     549.2850
8520    1193.1136
8521    1845.5976
8522     765.6700
Name: Item_Outlet_Sales, Length: 8523, dtype: float64

In [36]:
# Estrategia4: Utilización del atributo iloc
big_mart.iloc[:,4]

0                       Dairy
1                 Soft Drinks
2                        Meat
3       Fruits and Vegetables
4                   Household
                ...
8518              Snack Foods
8519             Baking Goods
8520       Health and Hygiene
8521              Snack Foods
8522              Soft Drinks
Name: Item_Type, Length: 8523, dtype: object

In [37]:
# Accedamos a más de una columnas utilizando la Estrategia1
lista_columnas = ['Item_Identifier', 'Item_Weight', 'Item_Fat_Content']
big_mart[lista_columnas]

     Item_Identifier  Item_Weight Item_Fat_Content
0              FDA15        9.300          Low Fat
1              DRC01        5.920          Regular
2              FDN15       17.500          Low Fat
3              FDX07       19.200          Regular
4              NCD19        8.930          Low Fat
...              ...          ...              ...
8518           FDF22        6.865          Low Fat
8519           FDS36        8.380          Regular
8520           NCJ29       10.600          Low Fat
8521           FDN46        7.210          Regular
8522           DRG01       14.800          Low Fat

[8523 rows x 3 columns]

In [38]:
# Obtener el dataframe, cuyos nombres de columnas terminan en "Type"
# Como ya lo henmos visto, necesitamos una lista con esos nombres de columnas
for c in big_mart.columns:
    if c.endswith("Type"):
        print(c)

Item_Type
Outlet_Location_Type
Outlet_Type

In [40]:
lista_columnas_interes2 = []
for c in big_mart.columns:
    #print(c.split("_"))
    if c.split("_")[-1] == "Type":
        lista_columnas_interes2.append(c)
lista_columnas_interes2

# Filtramos la selección de columnas usando lista_columnas_interes2
big_mart[lista_columnas_interes2]

                  Item_Type Outlet_Location_Type        Outlet_Type
0                     Dairy               Tier 1  Supermarket Type1
1               Soft Drinks               Tier 3  Supermarket Type2
2                      Meat               Tier 1  Supermarket Type1
3     Fruits and Vegetables               Tier 3      Grocery Store
4                 Household               Tier 3  Supermarket Type1
...                     ...                  ...                ...
8518            Snack Foods               Tier 3  Supermarket Type1
8519           Baking Goods               Tier 2  Supermarket Type1
8520     Health and Hygiene               Tier 2  Supermarket Type1
8521            Snack Foods               Tier 3  Supermarket Type2
8522            Soft Drinks               Tier 1  Supermarket Type1

[8523 rows x 3 columns]

# Otro dataset
Es el listado de pacientes a los que le realizarón una cirugía de alta complejidad en el Instituto Nacional de Enfermedades Neoplásicas - INEN, cada registro corresponde a un paciente, donde se tiene  historia, sexo, fecha de operación , hora de inicio de la cirugia, hora que finaliza la cirugía, código de ubigeo del lugar de residencia  y  lugar residencia.

Link: `https://datosabiertos.gob.pe/dataset/listado-de-cirug%C3%ADas-de-alta-complejidad-realizadas-de-enero-2022-julio-2025-%E2%80%93-instituto-0`

![image.png]()

In [43]:
cirugias = pd.read_csv("https://datosabiertos.gob.pe/sites/default/files/Listado_cirugia_alta_complejidad_realizadas_ene2022_jul2025.csv",
                       # Agregamos el argumento encoding para resolver el siguente problema
                       # UnicodeDecodeError: 'utf-8' codec can't decode byte 0xd1 in position 948: invalid continuation byte
                       encoding = "ISO-8859-1"
                       )
cirugias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21816 entries, 0 to 21815
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   UUID                     21816 non-null  object
 1   HISTORIA                 21816 non-null  object
 2   SEXO                     21816 non-null  object
 3   FECHA_OPERACION          21816 non-null  int64
 4   DES_HORA_INICIO_CIRUGIA  21810 non-null  object
 5   DES_HORA_FIN_CIRUGIA     21810 non-null  object
 6   UBIGEO_LUGAR_RESIDENCIA  21816 non-null  int64
 7   LUGAR_RESIDENCIA         21816 non-null  object
 8   FECHA_CORTE              21816 non-null  int64
dtypes: int64(3), object(6)
memory usage: 1.5+ MB

In [44]:
# Analicemos algo de información de la columna SEXO
cirugias["SEXO"]

0        MASCULINO
1         FEMENINO
2         FEMENINO
3        MASCULINO
4        MASCULINO
           ...
21811     FEMENINO
21812     FEMENINO
21813     FEMENINO
21814     FEMENINO
21815    MASCULINO
Name: SEXO, Length: 21816, dtype: object

In [45]:
# Encontremos todos los valores únicos que componen a la columna SEXO
cirugias["SEXO"].unique()

array(['MASCULINO', 'FEMENINO'], dtype=object)

In [46]:
# Contemos la frecuencia de estos posibles dos valores de la columna SEXO
cirugias["SEXO"].value_counts()

SEXO
FEMENINO     13923
MASCULINO     7893
Name: count, dtype: int64

In [47]:
# En porcentaje
cirugias["SEXO"].value_counts()*100/cirugias.shape[0]

SEXO
FEMENINO     63.820132
MASCULINO    36.179868
Name: count, dtype: float64

In [48]:
# Analicemos a la columna FECHA_OPERACION: Almacena información temporal. Además podemos
# notar que no sigue unformato estandar
cirugias["FECHA_OPERACION"]

0        20220826
1        20220117
2        20220117
3        20220117
4        20220117
           ...
21811    20250610
21812    20250711
21813    20250612
21814    20250719
21815    20250531
Name: FECHA_OPERACION, Length: 21816, dtype: int64

In [54]:
# Vamos a crear nuevas columnas+
# Creación de la columna AÑO_OPERACION: Formada por los primeros 4 caracteres
cirugias["AÑO_OPERACION"] = cirugias["FECHA_OPERACION"].astype(str).str[:4].astype(int)
cirugias["MES_OPERACION"] = cirugias["FECHA_OPERACION"].astype(str).str[4:6].astype(int)
cirugias["DIA_OPERACION"] = cirugias["FECHA_OPERACION"].astype(str).str[6:8].astype(int)
cirugias

,UUID,HISTORIA,SEXO,FECHA_OPERACION,DES_HORA_INICIO_CIRUGIA,DES_HORA_FIN_CIRUGIA,UBIGEO_LUGAR_RESIDENCIA,LUGAR_RESIDENCIA,FECHA_CORTE,AÑO_OPERACION,MES_OPERACION,DIA_OPERACION
0,B102CAED3BDCF95D21D0FFEDE2677D41,A29B1BDF4A0EB794,MASCULINO,20220826,1300,1655,150101,LIMA-LIMA-LIMA,20250812,2022,8,26
1,8897F80867B93D90CB4E1AC20BF66AAE,774415C1CE0C24A0,FEMENINO,20220117,0840,1015,150202,LIMA-BARRANCA-PARAMONGA,20250812,2022,1,17
2,E2AD7C98289035E2A5A7D321D12C6DEF,4AF11C9ADE732FE2,FEMENINO,20220117,1100,1300,10113,AMAZONAS-CHACHAPOYAS-MARISCAL CASTILLA,20250812,2022,1,17
3,D8E0656A38D604C730575B2ACD052D10,ECA42F7085E53BA9,MASCULINO,20220117,1400,1530,150133,LIMA-LIMA-SAN JUAN DE MIRAFLORES,20250812,2022,1,17
4,E48AE8E37F2F1E23C65038264641C82E,7D8F1E47DE0A8B7B,MASCULINO,20220117,0830,1150,60410,CAJAMARCA-CHOTA-LAJAS,20250812,2022,1,17
...,...,...,...,...,...,...,...,...,...,...,...,...
21811,90E0EAE0C63E0173235CF3A4FC96BC75,B98405B7156757B4,FEMENINO,20250610,1100,1530,150108,LIMA-LIMA-CHORRILLOS,20250812,2025,6,10
21812,37D606CB52D372A3ED71649CFF7EDC6F,92F7B1D45370A6E8,FEMENINO,20250711,1350,1800,130401,LA LIBERTAD-CHEPEN-CHEPEN,20250812,2025,7,11
21813,1CD1A8C4A280FC169100C9DCA62933A4,912F37F9902D6412,FEMENINO,20250612,0800,1100,150140,LIMA-LIMA-SANTIAGO DE SURCO,20250812,2025,6,12
21814,49C5FABFE3DFC1334AF4D4A87DD65F5F,7C7D62CA7681D2BA,FEMENINO,20250719,1230,1406,240301,TUMBES-ZARUMILLA-ZARUMILLA,20250812,2025,7,19
21815,0DCD21038FDF90C1CCB79EAB03421EAC,0BA92A963EB0FB7D,MASCULINO,20250531,0730,1015,150117,LIMA-LIMA-LOS OLIVOS,20250812,2025,5,31

In [55]:
# Contar el número de operaciones realizadas por año
cirugias["AÑO_OPERACION"].value_counts().sort_index()

AÑO_OPERACION
2022    5159
2023    6382
2024    6408
2025    3867
Name: count, dtype: int64

In [63]:
# El número de operaciones por mes y por cada año
mes_2022 = cirugias.loc[cirugias.AÑO_OPERACION == 2022, "MES_OPERACION"].value_counts().sort_index()
mes_2023 = cirugias.loc[cirugias.AÑO_OPERACION == 2023, "MES_OPERACION"].value_counts().sort_index()
mes_2024 = cirugias.loc[cirugias.AÑO_OPERACION == 2024, "MES_OPERACION"].value_counts().sort_index()

mes_operacion = pd.concat([mes_2022, mes_2023, mes_2024], axis=1, keys=["2022", "2023", "2024"])
mes_operacion

               2022  2023  2024
MES_OPERACION
1               329   553   560
2               321   515   546
3               393   593   520
4               345   499   559
5               421   581   552
6               446   573   489
7               411   492   553
8               419   540   558
9               497   549   518
10              567   544   568
11              546   479   486
12              464   464   499

In [64]:
# Crucemos la información que provee la columna SEXO y la columna AÑO_OPERACION
pd.crosstab(cirugias["SEXO"], cirugias["AÑO_OPERACION"])

AÑO_OPERACION  2022  2023  2024  2025
SEXO
FEMENINO       3306  4172  4062  2383
MASCULINO      1853  2210  2346  1484

# Carguemos otro dataset

Link: `https://www.mef.gob.pe/es/?option=com_content&language=es-ES&Itemid=102666&lang=es-ES&view=article&id=6430`

In [67]:
# Carguemos el dataset del programa reactiva perú usando pandas para procesar cierta información
rctva = pd.read_excel("/content/Reactiva_Peru_Lista_de_empresas_al_30102020.xlsx",
                     # Luego de abrir el archivo xlsx notamos que debemos olvidar a las
                      # primeras dos filas; además también notamos que debemos olvidar a las
                      # últimas tres filas.
                      skiprows=2,
                      skipfooter=3
                      )
rctva.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501298 entries, 0 to 501297
Data columns (total 9 columns):
 #   Column                                         Non-Null Count   Dtype
---  ------                                         --------------   -----
 0   Unnamed: 0                                     501298 non-null  int64
 1   RAZÓN SOCIAL                                   501298 non-null  object
 2   RUC/DNI                                        501298 non-null  int64
 3   SECTOR ECONÓMICO                               501298 non-null  object
 4   NOMBRE DE ENTIDAD OTORGANTE DEL CRÉDITO        501298 non-null  object
 5   NOMBRE DE 2DA. ENTIDAD OTORGANTE DEL CRÉDITO*  9889 non-null    object
 6   MONTO PRÉSTAMO (S/)                            501298 non-null  float64
 7   MONTO COBERTURADO (S/)                         501298 non-null  float64
 8   DEPARTAMENTO                                   501298 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 34.4+ MB

In [70]:
# Podemos notar que algunas empresas obtuvieron son un crédito, y algunas de estas obtuvieron dos créditos

# Las empresas que solo obtuvieron un crédito, son aquellas cuyo valor en la columna
# NOMBRE DE 2DA. ENTIDAD OTORGANTE DEL CRÉDITO* es NaN (Not a Number)
rctva_1cred = rctva.loc[rctva["NOMBRE DE 2DA. ENTIDAD OTORGANTE DEL CRÉDITO*"].isna(), :]

# Empresas que obtuvieron los dos créditos
rctva_2cred = rctva.loc[~rctva["NOMBRE DE 2DA. ENTIDAD OTORGANTE DEL CRÉDITO*"].isna(), :]

In [73]:
# Analicemos el "SECTOR ECONÓMICO" de las empresas que obtuvieron solo un crédito
sec_eco_abs = rctva_1cred["SECTOR ECONÓMICO"].value_counts()
sec_eco_rel = rctva_1cred["SECTOR ECONÓMICO"].value_counts()*100/rctva_1cred.shape[0]

pd.concat([sec_eco_abs, sec_eco_rel], axis=1, keys=["Absoluto", "Relativo"])

                                          Absoluto   Relativo
SECTOR ECONÓMICO
COMERCIO                                    233405  47.497095
TRANSPORTE, ALMACENAMIENTO Y COMUNIC.        58409  11.886026
INDUSTRIA MANUFACTURERA                      47225   9.610121
ACTIV. INMOBILIARIAS, EMPRESARIALES ALQ.     38994   7.935142
CONSTRUCCION                                 26846   5.463066
OTROS SERVICIOS                              26736   5.440682
HOTELES Y RESTAURANTES                       24303   4.945575
AGRICULTUR, GANADERIA, CAZA Y SILVICULT      21659   4.407530
SERVICIOS SOCIALES Y DE SALUD                 5220   1.062252
ENSEÑANZA                                     3005   0.611507
PESCA                                         2918   0.593803
MINERIA                                       1319   0.268412
ELECTRICIDAD, GAS Y AGUA                       688   0.140006
INTERMEDIACION FINANCIERA                      682   0.138785

In [74]:
# Analicemos el "SECTOR ECONÓMICO" de las empresas que obtuvieron dos créditos
sec_eco_abs = rctva_2cred["SECTOR ECONÓMICO"].value_counts()
sec_eco_rel = rctva_2cred["SECTOR ECONÓMICO"].value_counts()*100/rctva_2cred.shape[0]

pd.concat([sec_eco_abs, sec_eco_rel], axis=1, keys=["Absoluto", "Relativo"])

                                          Absoluto   Relativo
SECTOR ECONÓMICO
COMERCIO                                      4590  46.415209
INDUSTRIA MANUFACTURERA                       1351  13.661644
TRANSPORTE, ALMACENAMIENTO Y COMUNIC.         1252  12.660532
ACTIV. INMOBILIARIAS, EMPRESARIALES ALQ.      1009  10.203256
OTROS SERVICIOS                                705   7.129133
CONSTRUCCION                                   271   2.740419
HOTELES Y RESTAURANTES                         264   2.669633
AGRICULTUR, GANADERIA, CAZA Y SILVICULT        138   1.395490
SERVICIOS SOCIALES Y DE SALUD                  122   1.233694
ENSEÑANZA                                       89   0.899990
MINERIA                                         31   0.313480
ELECTRICIDAD, GAS Y AGUA                        29   0.293255
PESCA                                           24   0.242694
INTERMEDIACION FINANCIERA                       14   0.141571

In [75]:
# Veamos qué es lo que ocurre a nivel de departamento
rctva_1cred["DEPARTAMENTO"].value_counts()

DEPARTAMENTO
LIMA             148035
PUNO              37153
PIURA             33172
AREQUIPA          30829
CUSCO             28982
CAJAMARCA         27433
LA LIBERTAD       25260
LAMBAYEQUE        23836
JUNIN             22934
ANCASH            21819
TACNA             11439
AYACUCHO          10023
SAN MARTIN         9876
ICA                9359
CALLAO             8372
HUANUCO            8035
AMAZONAS           5235
APURIMAC           5102
TUMBES             4436
MOQUEGUA           4375
UCAYALI            4186
LORETO             3997
MADRE DE DIOS      3358
PASCO              2447
HUANCAVELICA       1716
Name: count, dtype: int64

In [85]:
# Para las empresas que obtuvieron 1 crédito, ma media de "MONTO PRÉSTAMO (s/)" por sector
# económico
rctva_1cred[["SECTOR ECONÓMICO","MONTO PRÉSTAMO (S/)"]]

# Inciemos por un diccionario en blanco
dict_sec_eco = {}.fromkeys(rctva_1cred["SECTOR ECONÓMICO"].unique())
for sec_eco in rctva_1cred["SECTOR ECONÓMICO"].unique():
  dict_sec_eco[sec_eco] = float(rctva_1cred.loc[rctva_1cred["SECTOR ECONÓMICO"] == sec_eco, "MONTO PRÉSTAMO (S/)"].sum())

pd.DataFrame(dict_sec_eco, index=["suma_monto_prestamo"]).T.sort_values(by="suma_monto_prestamo", ascending=False)

                                          suma_monto_prestamo
COMERCIO                                         1.844437e+10
INDUSTRIA MANUFACTURERA                          6.878128e+09
ACTIV. INMOBILIARIAS, EMPRESARIALES ALQ.         5.953254e+09
TRANSPORTE, ALMACENAMIENTO Y COMUNIC.            5.042651e+09
CONSTRUCCION                                     2.345233e+09
OTROS SERVICIOS                                  2.303390e+09
AGRICULTUR, GANADERIA, CAZA Y SILVICULT          2.219277e+09
HOTELES Y RESTAURANTES                           1.580790e+09
ENSEÑANZA                                        8.477836e+08
SERVICIOS SOCIALES Y DE SALUD                    8.320048e+08
MINERIA                                          8.050038e+08
PESCA                                            3.369888e+08
ELECTRICIDAD, GAS Y AGUA                         2.955845e+08
INTERMEDIACION FINANCIERA                        1.632032e+08